/* Global Stat bar  */
.globalStatContainerBG {
  /* padding-top: 5px; */
  /* border: 1px solid red; */
  padding: 2px;
  margin: 0;
  z-index: 100;
  background-color: #293143;
  position: fixed;
  width: 100%;
}

.globalStatContainer {
  padding: 0;
  /* margin: 0; */
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.globalStat {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.globalStat-title {
  padding: 0;
  margin: 0;
  font-size: 12px;
}

.globalStat-value {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  color: rgb(88, 180, 255);
}

/* Nav Bar CSS */

.navbar {
  width: 100%;
  /* position: fixed; */
  margin-top: 4px;
  top: 40px;
  z-index: 100;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: #293143;
  align-items: center;
}
.nav-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin: 10px;
  align-items: center;
  margin: 0px;
}

.logo-container {
  flex: 0.2;
  background-color: #293143;
  display: flex;
  padding: 20px;
  align-items: center;
  width: 100%;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  flex: 0.5;
  font-size: 18px;
  align-items: center;
}

.select-navbar {
  width: 180px;
  background-color: #1d2330 !important;
  border: 0px;
  outline: 0px;
  padding: 10px 20px;
  border-radius: 8px;
}

.navbar-search {
  color: grey;
  align-items: center;
  background-color: #1d2330;
  border-radius: 8px;
  border: 0px;
  outline: 0px;
}
.select-news {
  overflow: hidden;
  /* padding-bottom: 50px; */
}
.logo {
  margin: 0 0 0 15px;
}

/* News Card */

.container {
  margin-top: 5rem;
  max-width: 90%;
}

.space-y-4 {
  padding: 25px;
}
